<div class="shopping-cart require-token">
  <header>Shopping Cart</header>

  {{#if cart.items}}
      <h3>Current Items</h3>
    {{#each cart.items as |item|}}
      <div class="item">
        <div class="product" data-id="{{item.product._id}}">{{item.product.name}}</div>
        <div class="item-cost">{{item.product.price}}</div>
        <button class="btn btn-default remove-item">Remove</button>
      </div>
    {{/each}}
      <div class="total-cost">{{cart.totalCost}}</div>
  {{else}}
      <span class="message">You have no items yet.</span>
  {{/if}}

</div>

<div class="no-token">
  <span class="message">You must be signed in to shop.</span>
  <button class="sign-in-button btn btn-primary">Sign In</button>
</div>
